<% content_for :pagetitle do %>
<%= @facet %> <% if params[:page] %>(p<%= params[:page] %>)<% end %> : Facets : 
<% end %>

<h1><a href="/facets">Facets</a> / <%= @facet %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Value</th>
      <th># with this value</th>
    </tr>
  </thead>
  <tbody>
    <% for v in @facet_vals %>
      <% if !v.first.blank? && !v['key'].blank? %>
        <tr>
          <td><%= link_to v['key'], facet_thing_path(@facet, v['key']) %></td>
          <td><%= number_with_delimiter(v.doc_count, delimiter: ',') %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @values %>

