<div id="explanation">
  <p>This covers <b><%= @rows.count %></b> objects from between <b><%= @min_year_start %></b> to <b><%= @max_year_end %></b></p>
</div>

<div id="sketch-container">
  <% @rows.each_with_index do |row,i| %>
    <a class='block <%= row[:redness] %>' id='thing-<%= row[:thing].id %>'style="top: <%= i*3 %>px; left: <%= row[:start] %>px; width: <%= row[:width] %>px;" data-title="<%= row[:thing].title %>" data-thing-id="<%= row[:thing].id %>" data-small-url="<%= row[:thing].image_url(:small) %>" title="<%= row[:thing].title %>" href="<%= thing_path(row[:thing]) %>">&nbsp</a>
  <% end %>
</div>

<div id="accessions">
  <% @rows.each_with_index do |row,i| %>
    <% if row[:thing].accession_year %>
      <a class='accession' id='accession-<%= row[:thing].id %>' style="top: <%= i*3 %>px; left: <%= row[:thing].accession_year - 1852 %>px;" data-title="<%= row[:thing].title %>" data-thing-id="<%= row[:thing].id %>" data-small-url="<%= row[:thing].image_url(:small) %>" title="<%= row[:thing].title %>" href="<%= thing_path(row[:thing]) %>">&#739;</a>
    <% else %>
      <a class='accession' id='accession-<%= row[:thing].id %>' style="top: <%= i*3 %>px; left: 0px;" data-thing-id="<%= row[:thing].id %>" data-title="<%= row[:thing].title %>" data-small-url="<%= row[:thing].image_url(:small) %>" title="<%= row[:thing].title %>" href="<%= thing_path(row[:thing]) %>">o</a>
    <% end %>
  <% end %>
</div>

<div class='clear'></div>

