<% content_for :bodyclass do %>dark<%end%>

<h1>Date Graph</h1>

<div id="explanation">
  <p>You're looking at <b><%= number_with_delimiter(@rows.count, delimiter:',') %></b> objects made between <b><%= @min_year_start %></b> and <b><%= @max_year_end %></b>.</p>
</div>

<form class="form-inline" role="form" method='get' action='<%= completeness_path %>'>
  <div class="form-group">
    <div class="input-group">
      <label class="sr-only" for="startyearfield">Start year</label>
      <input value="<%= params[:start] %>" type="text" class="form-control" id="startyearfield" name='start' placeholder="Start year">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <label class="sr-only" for="endyearfield">End year</label>
      <input value="<%= params[:end] %>" type="text" class="form-control" id="endyearfield" name='end' placeholder="End year">
    </div>
  </div>
  <button type="submit" class="btn btn-default">Refresh</button>
</form>

<div id="sticky-anchor"></div>
<div id="header" class='stickable'>
	<div id="object-dates">
	  <div class='start'><%= @min_year_start %></div>
    <div class='end'><%= @max_year_end %></div>
  </div>

	<div id="accession-dates">
	  <div class='start'>1852</div>
    <div class='end'><%= Time.now.year %></div>
	</div>
  <div class='clearfix'></div>
</div>

<div class='clearfix'></div>

<div id="objects">
  <div id="sketch-container">
    <% @rows.each_with_index do |row,i| %>
      <a class='block <%= row[:yellowness] %>' id='thing-<%= row[:thing].id %>'style="top: <%= i*3 %>px; left: <%= row[:start] %>%; width: <%= row[:width] %>%;" data-title="<%= row[:thing].title %>" data-thing-id="<%= row[:thing].id %>" data-small-url="<%= row[:thing].image_url(:small) || asset_path('missing-image.png') %>" title="<%= row[:thing].title %>" href="<%= thing_path(row[:thing]) %>">&nbsp</a>
    <% end %>
  </div>

  <div id="accessions">
    <% @rows.each_with_index do |row,i| %>
      <% if row[:thing].accession_year %>
        <a class='accession' id='accession-<%= row[:thing].id %>' style="top: <%= i*3 %>px; left: <%= row[:accession_left] %>%;" data-title="<%= row[:thing].title %>" data-thing-id="<%= row[:thing].id %>" data-small-url="<%= row[:thing].image_url(:small) %>" title="<%= row[:thing].title %>" href="<%= thing_path(row[:thing]) %>"><span>&#739;</span></a>
      <% else %>
        <a class='accession missing' id='accession-<%= row[:thing].id %>' style="top: <%= i*3 %>px; left: 0px;" data-thing-id="<%= row[:thing].id %>" data-title="<%= row[:thing].title %>" data-small-url="<%= row[:thing].image_url(:small) %>" title="<%= row[:thing].title %>" href="<%= thing_path(row[:thing]) %>"><span>o</span></a>
      <% end %>
    <% end %>
  </div>
</div>

<div class='clearfix'></div>

