!!! 5
%html{html_attrs}
  %head
    = csrf_meta_tag
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    = favicon_link_tag
    %title 
      =yield :pagetitle
      V&amp;A Spelunker
      
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body
    = render "layouts/nav"

    .container
      = render "layouts/flashes"
      = yield

