<h1><%= link_to 'Facets', facets_path %> / <%= link_to "Artist", facet_path('artist') %> / <%= @artist.name %> x <%= number_with_delimiter @count %></h1>

<%= render partial: 'things/table', locals: {things: @artist_things.map(&:thing)} %>

<%= will_paginate @artist_things %>
