<tr>
  <td><%= link_to 'view', thing_path(thing) %></td>
  <td>
    <% if thing.has_image? %>
      <%= link_to image_tag(thing.image_url(:small)), thing_path(thing) %>
    <% end %>
  </td>
  <% for field in thing.keys.sort %>
    <td>
      <% if Facet.all.include?(field) && !thing[field].blank? %>

        <% if Facet.lists.include?(field) %>
          <%= thing[field].map do |f| %>
            <% link_to f, facet_thing_path(facet_id:field, id: f) %>
          <% end.join(', ').html_safe %>
        <% else %>
          <%= link_to thing[field], facet_thing_path(facet_id:field, id: thing[field]) %>
        <% end %>
      <% else %>
        <% if Thing.truncatable_fields.include? field %>
          <%= thing[field].truncate(100, separator: ' ') %>
        <% else %>
          <%= thing[field] %>
        <% end %>
      <% end %>
    </td>
  <% end %>
  <td><%= link_to 'view', thing_path(thing) %></td>
</tr>
