<h1><%= link_to 'Facets', facets_path %> / <%= link_to "Techniques", facet_path('techniques') %> / <%= @technique.name %> x <%= number_with_delimiter @count %></h1>

<%= render partial: 'things/table', locals: {things: @technique_things.map(&:thing)} %>

<%= will_paginate @technique_things %>
