<h1>Ooh look, <%= @things.size.humanize %> random <%= link_to @object_type.downcase.pluralize(@things.size), facet_thing_path(id: @object_type, facet_id: 'object') %>. <%= link_to "AGAIN!", root_path %></h1>

<%= render partial: 'things/imageList', locals: {things: @things} %>

<h2><%= link_to "AGAIN!", root_path %></h2>



