<h1><%= link_to 'Facets', facets_path %> / <%= link_to 'Places', facet_path('place') %> / <%= @place.name %></h1>

<%= render partial: 'things/table', locals: {things: @placethings.map(&:thing)} %>

<%= will_paginate @placethings %>
