<% content_for :pagetitle do %>
<%= @place.name %> <% if params[:page] %>(p<%= params[:page] %>)<% end %> : Places : Facets : 
<% end %>

<h1><%= link_to 'Facets', facets_path %> / <%= link_to 'Places', facet_path('place') %> / <%= @place.name %> x <%= number_with_delimiter @count %></h1>

<%= render partial: 'things/toggle_image_list' %>

<% if params[:images] %>
<%= render partial: 'things/imageList', locals: {things: @placethings.map(&:thing)} %>
<% else %>
<%= render partial: 'things/table', locals: {things: @placethings.map(&:thing)} %>
<% end %>

<%= will_paginate @placethings %>
