.page_title
  - if !@thing.title.blank?
    %h1= @thing.title
  - else
    %h1 No Title

- if !@thing.primary_image_id.blank?
  .pic= image_tag(@thing.image_url(:large))

.thing-details
  %dl
    - for field in Thing.attribute_names
      %dt= field
      %dd
        - if Facet.all.include?(field) && !@thing.send(field).blank?
          = link_to @thing.send(field), facet_thing_path(field, @thing.send(field))
        - else
          = @thing.send(field)

%p= link_to "View this in the V&A API", @thing.api_path
